

<!DOCTYPE html>
<html>
  <head>
    <title>My Website</title>
    </head>
  <body>
    <%- include("header")%>
    <div class="content">
      <h1>Mail</h1>
      <p>
        <li style="font-size:30px">codequotient@gmail.com </li>
          If any problem occurs send mail on the above mail address.
        </p>
    </div>
    <a href="/logout"  id="logoutButton" style="position: absolute; top: 10px; right: 20px; color: red">Logout</a>  </body>
</html>